* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #000000;
    padding: 20px;
}

.container {
    max-width: 600px;
    height: 100%;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    margin: 50px auto;
}

.search {
    width: 100%;
    min-height: 4em;
    position: relative;
    display: flex;
    padding: 2px 15px;
}

.input {
    width: 100%;
    height: 55px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #12112e;
    font-weight: 500;
    border-radius: 6px;
    background-color: transparent;
}

.input>::placeholder {
    color: #bebebe;
}

.icon {
    height: 30px;
    width: 30px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    margin-top: 12px;
    margin-right: 5px;
    font-size: 20px;
    right: 0;
    cursor: pointer;
    justify-content: flex-end;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.about {
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    height: 40px;
    padding: 8px 12px;
}

.about:hover {
    color: rgb(172, 207, 238);
}

.text {
    color: #fff;
    text-align: center;
    position: relative;
}

p {
    cursor: pointer;
    color: black;
    border-radius: 4px;
    background-color: #fff;
    max-width: 140px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p:hover {
    background-color: rgb(172, 207, 238);
}

h3 {
    margin-top: 200px;
}